*{
    margin:0;
    padding:0;
}
body{
    background-color:#eff0f1;
}
 a:link,a:visited{
    text-decoration:none;
    color:#727481;

}
 a:active,a:hover{
    color:#0f315b;
    font:20px blod;

}
ul{

    list-style:none;
    display:inline;
}
li{
    margin-right:8px;
   display:inline;
}
.p1{
    float:right;

}
.p1 i{
    color:#727481;
    margin-right: 250px;
    font-size:14px;
}

.p1 small{
    margin-left:400px;
    font:6px bold;

}

.ul1 {
    list-style: none;
    border: none;
    margin-left: 70px;
}

.ul2{
    margin-top:5px;
    margin-right:30px;
    float:right;
}
.gd{
    width:1.5%;
    height:3.5%;
    padding:12px 5px 5px;
    text-align:center;
    background-color:#d7dff5;
    border-radius:20px;
    position:fixed;
    left:96%;
    top:92%


}
.top_title{
    color:#7a7d8a;
    margin:50px 0 50px 70px;
}
.top{
    width:94%;
    height:40px;
    margin:0 auto 20px;
    border:1px solid bisque;
    background-color:#e6e7e9;
    border-radius:8px;

}
.top_mun{
    width:100%;
    height:30px;
    position:relative;
    top:5px;
}
.body{
    display:inline;
}
.body1{
    border-radius: 8px;
    background-color:#fff;
    width:75%;
    height:auto;
    border:1px solid bisque;
    margin-left:3%;
    position:absolute;



}
.body2{
    border-radius: 8px;
    background-color:#fff;
    width:17%;
    height:auto;
    margin-bottom:1%;
    border:1px solid bisque;
    position:relative;
    left:80%;


}
.body3{
    border-radius: 8px;
    background-color:#ffffff;
    width:17%;
    height:auto;
    border:1px solid bisque;
    position:relative;
    left:80%;

}